html{
    font-size: 10px;
}

*{
    box-sizing: border-box;
}

.wrapper,.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 41rem;
    height: fit-content;
    margin: 4rem auto;
    box-shadow: 0 8px 10px rgba(0,0,0,0.4);
}

.container{
    height: 80%;
}

.name{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
}

.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
    font-size: 1.8rem;
    padding: .4rem;
}

button{
    outline: none;
    border: none;
    padding: 1rem;
    margin:5px;
    color: white;
    background-color: rgb(37, 115, 216);
    /* box-shadow: 2px 2px 3px rgba(0,0,0,0.4); */
}
button:hover{
    transform: translateY(-3px);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

button:active,button:focus{
    transform: translateY(0);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    background-color: black;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    color: white;
}

.res{
    margin-right: 2px;
    border-right: 1px solid white;
}

.time{
    margin-left: 2px;
}

.reset{
    padding: 2px;
    background-color: rgb(2, 10, 29);
}

.towers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
}

.tower-1,.tower-2,.tower-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20rem;
    width: 25rem;
    margin: 1rem 2px;
    box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    padding: 0;
}

.div1,.div2,.div3,.div4,.div5{
    background-color: #FFC060;
    width: 5rem;
    height: 2rem;
}
.div2{
    background-color: #FF8A79;
    width: 9rem;
}

.div3{
    background-color: #F865A0;
    width: 11rem;
}

.div4{
    background-color: #AD5DBE;
    width: 13rem;
}

.div5{
    background-color: #195FC0;
    width: 15rem;
}

.div1:hover{
    margin-bottom: 2px;
    transform: scale(1.1);
}

.div2:hover,.div3:hover,.div4:hover,.div5:hover{
    margin: 2px 0;
    transform: scale(1.1);
}

.hover{
    margin-bottom: 2rem;
}

@media screen and (min-wdth: 700px){
    html {
        font-size: 12px;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        height: fit-content;
    }

    .towers{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}